section{
    margin-top: 100px;
}
div{
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: #7aa874;
    border: 2px solid black;
    margin: 10px;
}
div:nth-of-type(2n){
    background-color: #023f74;

}
div:nth-of-type(3n){
    background-color: #65066a;
    
}
#one{
    transform: rotate(45deg);
}
#two{
    transform: scale(0.75);
}
#three{
    transform: translateX(70px);
}
#four{
    transform: skew(50deg);
}
#shadow{
    width: 200px;
    height: 100px;
    text-align: center;
    background-color: #7aa874;
    margin: 10px auto;
    box-shadow: 2px 2px 8px black;
}
#img{
    width: 400px;
    height: 200px;
    background-color: #7aa874;
    margin: 10px auto;
    background-image: url("Practice/bruce lee.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
}
.card{
    background-color: #f5f5f5;
    width: 200px;
    height: 200px;
    border: 2px solid black;
    display: inline-block;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px black;
    transition: 1s;
}
.desc{
    padding: 0 2px 0 2px;

}
img{
    width: 100%;
    border-radius: 5px 5px 0 0;

}
.card:hover{
    box-shadow: 0px 8px 16px goldenrod;
}
.card:hover .desc{
    background-color: goldenrod;
    color: white;
}
.position{
    height: 100px;
    width: 100px;
    background-color: green;
    text-align: center;
    border: 3px solid black;
    margin: 20px;
    display: inline-block;

}
#static{
    background-color: yellow;
    position: static;
    top: 100px;
    left: 100px;
}
#relative{
    background-color: yellow;
    position: relative;
    top: 100px;
    left: 100px;

}
#absolute{
    background-color: yellow;
    position: absolute;
    top: 1000px;
    left: 100px;
}