.poem {
    color: #A52A2A; /* Brown hex code */
}
h1,h3,h4, .poem{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.comment-box,.comment-button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: black;
    background-color: aqua;

}
button:hover,.comment-box:hover{
    background-color: #A52A2A;
    color: aquamarine;
}
.dvv{
    text-decoration: none;
}
.dvv:hover{
    color: blueviolet;
}
button:active,{
    color: rgb(210, 30, 192);
}
body{
    background-color: aquamarine;
}